@charset "utf-8";

html {
	/* 枠線・うち余白を込みで計算*/
	box-sizing: border-box;
	margin: auto;
	color: #F7F6FA;
	background-color: #000;
	font-size: 100%;
	width: 100%;
	height: 100%;
}

body {
	height: 100%;
}

header {
	height: 25%;
	width: 45%;
	text-align: center;
	margin-left: 53%;
	visibility: hidden;
}

main {
	height: 50%;
	text-align: center;
}

#name {
	font-size: 1.4rem;
	letter-spacing: 5px;
}

#money {
	border: 3px solid #5F7EB2;
	background-color: rgba(11, 73, 173, .8);
	color: yellow;
}

#lifeline {
	display: flex;
	margin-top: 5px;
	width: 100%;
}

#lifeline li {
	width: 5rem;
	list-style-type: none;
	text-decoration: none;
	display: block;
	background-color: #22204D;
	border: 3px solid #5F7EB2;
	border-radius: 50%;
	font-size: 1px;
}

#lifeline li:hover {
	cursor: pointer;
}

.used {
	height: 1.1rem;
}

#usedFifty,
#usedTel,
#usedAud {
	position: absolute;
	top: 13%;
	visibility: hidden;
	width: 3.4rem;
}

#usedFifty {
	right: 31%;
}

#usedTel {
	right: 15.2%;
}

#usedAud {
	right: 0.9%;
}

#center {
	margin: auto 1rem;
	width: 90%;
	height: 50%;
	align-items: center;
}

#center-content {
	padding: 40px auto;
	background-color: rgba(60, 64, 67, 0.5);
	border: 2px double #fff;
}

#center-content p {
	margin-top: 0.5rem;
}

#center-content h1 {
/*	margin-top: .5rem;*/
}

#center-input {
	background-color: aliceblue;
	border: 1px double black;
	width: 90%;
	margin-top: 0.7rem;
}

footer {
	height: 20%;
}

#tel {
	visibility: hidden;
	font-size: 6rem;
	text-align: center;
	margin-top: 3rem;
}

.btn {
	width: 4rem;
	text-decoration: none;
	color: #fff;
	border: solid 2px #fff;
	border-radius: 3px;
	background: #333;
	margin: 1rem;
}

.btn:hover {
	color: white;
}

/* audience用 */
#audience {
	visibility: hidden;
	border: 2px solid #5F7EB2;
	width: 99%;
	height: 50%;
	margin: auto;
	background-color: #111;
}

#audience ul {
	width: 100%;
	height: 100%;
	bottom: 0;
}

#audience ul li {
	display: inline-block;
	text-align: center;
	position: relative;
	width: 23%;
	height: 100%;
	bottom: 0;
}

#audience ul li p {
	position: absolute;
	bottom: 0;
}

.outside-bar {
	transform: scale(-1, -1);
	height: 80%
}

.bar {
	background: -moz-linear-gradient(top, #963A82, #96E3F4);
	background: -webkit-linear-gradient(top, #963A82, #96E3F4);
	background: linear-gradient(to bottom, #963A82, #96E3F4);
	
}

/* 問題部用 */
#quiz {
	width: 99%;
	visibility: hidden;
	bottom: 5%;
	left: 0;
	right: 0;
	margin: auto;
	
}

#ask {
	display: block;
	height: 4rem;
	border: 2px solid #5F7EB2;
	padding-left: .5rem;
	background-color: #1F1E1C;
}

#answer {
	display: grid;
	grid-template-columns: 50% 50%;
	list-style: none;
}

#answer li {
	background-color: #1F1E1C;
	text-decoration: none;
	display: block;
	border: 2px solid #5F7EB2;
	padding-left: .5rem;
}


#answer li:hover {
	cursor: pointer;
}



/* レスポンシブ対応 */
/* 最小幅600px以上のデザイン */
/* メディアクエリ */
/* ブレイクポイント */
@media (min-width: 600px) {
	#header {
		width: 20%;
		text-align: center;
		margin-top: 1rem;
		margin-left: 78%;
		visibility: hidden;
	}

	#name {
		font-size: 1.4rem;
		letter-spacing: 5px;
	}

	#money {
		border: 3px solid #5F7EB2;
		background-color: rgba(11, 73, 173, .8);
		color: yellow;
	}

	#lifeline {
		display: flex;
		margin-top: 5px;
	}

	#lifeline li {
		width: 33%;
		list-style-type: none;
		text-decoration: none;
		display: block;
		background-color: #22204D;
		border: 3px solid #5F7EB2;
		border-radius: 50%;
	}

	#lifeline li:hover {
		border: 3px solid yellow;
		cursor: pointer;
	}

	.used {
		height: 1.4rem;
	}

	#usedFifty,
	#usedTel,
	#usedAud {
		position: absolute;
		top: 12%;
		visibility: hidden;
		width: 86px;
	}

	#usedFifty {
		right: 15.3%;
	}

	#usedTel {
		right: 8.7%;
	}

	#usedAud {
		right: 2.1%;
	}


	main {
		text-align: center;
	}

	#center {
		margin: 4rem auto 0;
		width: 680px;
		align-items: center;
		font-size: 1.4rem;
	}

	#center-content {
		margin: 0.5rem;
	}

	#center-content h1 {
		padding: 1.45rem;
	}

	#center-input {
		background-color: aliceblue;
		border: 1px double black;
		width: 40%;
	}

	#tel {
		visibility: hidden;
		font-size: 6rem;
		text-align: center;
		margin-top: 3rem;
	}

	.btn {
		width: 6rem;
		text-decoration: none;
		color: #fff;
		border: solid 2px #fff;
		border-radius: 3px;
		background: #333;
		margin: 1rem;
	}

	.btn:hover {
		background: #FDAE1D;
		color: white;
		/*	transition: .4s;*/
	}

	/* audience用 */
	#audience {
		visibility: hidden;
		position: fixed;
		border: 1px solid #5F7EB2;
		width: 20%;
		height: 300px;
		margin-left: 78%;
		bottom: 35%;
		background-color: #111;
		z-index: 10000;
	}

	#audience ul {
		position: absolute;
		width: 100%;
		bottom: 0;
	}

	#audience ul li {
		display: inline-block;
		text-align: center;
		width: 23%;
		bottom: 0;
	}
	
	.outside-bar {
		height: 90%;
	}
	
	#audience ul li p {
		position: absolute;
		margin-left: .4rem;
		bottom: auto;
	}

	.bar {
		width: 40px;
		margin: 0 auto;
	}

	/* 問題部用 */
	#quiz {
		width: 70%;
		visibility: hidden;
		position: absolute;
		bottom: 8%;
		left: 0;
		right: 0;
		margin: auto;
	}

	#ask {
		display: block;
		height: 3em;
		font-size: 1.4rem;
		border: 3px solid #5F7EB2;
		padding-left: .5rem;
		background-color: #1F1E1C;
	}

	#answer {
		display: grid;
		grid-template-columns: 50% 50%;
		list-style: none;
	}

	#answer li {
		background-color: #1F1E1C;
		text-decoration: none;
		display: block;
		font-size: 1.2rem;
		border: 3px solid #5F7EB2;
		padding-left: .5rem;
	}


	#answer li:hover {
		background-color: #FDAE1D;
		cursor: pointer;
	}
}
